.left{
  font-size: 1.5rem;
  cursor: pointer;
  transition:  0.5s ease-out;
}

.left:hover {
  color: rgb(5, 145, 175);
}

.firstSection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}

.firstSection > div{
   width: 30%;
}

.leftSection{
  font-size: 2rem;
}
.rightSection img{
  border-radius: 40px;
  width: 25vw;
}

.purple{
  color: rgb(170, 107, 228);
}

.text-gray{
  color: gray;
}
.secondSection{
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.secondSection h1{
  font-size: 1.9rem;
}

.secondSection .box{
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondSection .vertical{
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 100px;
}

.vertical-title{
  position: relative;
  top: 75px;
  width: 150px;
  font-size: 14px;
}

.vertical-desc{
  position: relative;
  top: 80px;
  width: 150px;
  font-size: 12px;
  color: gray;
}